* {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p, body{
  margin:0;
}
body {
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.2px;
}
.container{
  width: 640px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.navbar {
  display: flex;
  background-color: #21222A;
  padding:30px 20px;
}

.nav-logo-name{
  display: flex;
  margin-right:auto;
  color: #61DAFB;
}
.company-name {
  margin:auto 0;
}

.nav-logo-name .logo-react{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.nav-title{
  margin:auto 20px;
  color:#ffffff;
}

.main-content{
  background-color: #282D35;
  color:#ffffff;
  padding:30px;
  display: flex;
  flex-direction: row;
}

.main-content ul li{
  line-height: 1.25;
  font-size: 1.125rem;
}

.main-content ul li{
  max-width: 430px;
}

.main-content ul li::marker{
  font-size: 200%; /* or whatever */
  padding-right: 15px;
  color: #61DAFB;
  line-height: 1.25;
}
.background-logo{
  margin-right: -350px;
  margin-top:30px;
}

.background-logo img{
  width: 280px;
  opacity: 0.05;
}